{% extends 'base.html' %}

{% block content %}
<!---
    {% include '_admin_panel_nav.html' with nav_home=True nav_active='species' %}<hr>
-->
<link rel="stylesheet" href="../../static/css/list.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <h2 class="clearfix">
        Species
        <a href="{% url 'species-create' %}" class="list-btn-create">Create a new species</a>
    </h2>

    <form class="search-form">
        {{ form.non_field_errors }}
        {{ form.q|bootstrap }}
        {{ form.order_by|bootstrap }}
        {{ form.order|bootstrap }}
        <div class="form-actions">
            <input type="submit" name="submit" value="Search" class="btn-srch" />
            <a class="btn-edt" href="{% url 'species-list' %}">Reset</a>
        </div>
    </form>
    
    {% if all_species %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Scientific name</th>
                    <th>Category</th>
                    <th>Severity</th>
                    <th class="text-center">Confidential?</th>
                    <th class="text-right">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for species in all_species %}
                    <tr>
                        <td><a href="{% url 'species-detail' species.pk %}">{{ species.name }}</a></td>
                        <td>{{ species.scientific_name }}</td>
                        <td>{{ species.category }}</td>
                        <td>{{ species.severity }}</td>
                        <td class="text-center">
                            {% if species.is_confidential %}
                                <span class="glyphicon glyphicon-ok"></span>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'species-detail' species.pk %}"
                               title="Edit this species"><span class="fa fa-edit"></span></a>
                            &nbsp;
                            <a href="{% url 'species-delete' species.pk %}"
                               class="text-danger"><span class="fa fa-trash"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include '_pagination.html' with items=all_species %}
    {% else %}
        <div class="alert alert-warning">No species matching those search criteria were found.</div>
    {% endif %}
{% endblock %}
