<!DOCTYPE html>

{% load arc %}
{% load permissions %}
{% load static %}

<html lang="en">
    <head>
        {% block head %}
            {% block meta %}
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">

            {% endblock %}

            <title>{% block title %}Oregon Invasives Hotline{% endblock %}</title>
            <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

            {% block css %}
                <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
                <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
                <link rel="stylesheet" href="/static/css/main.css">
            {% endblock %}
        {% endblock %}
    </head>
    <body id="body" class="{% block body_class %}{% endblock %}">
        <!-- Container-fluid, Old version shifted everything left needlessly, Changes had no impact  on other pages for now -->
        {% block body %}
            <header id="header" class="w-100">
                {% block header %}
                <div class="row">
                    <div class="dropdown">
                        <a href="{% url 'home' %}">
                            <img 
                                src="{% static 'img/header-logo-transparent.png' %}"
                                alt="Oregon Invasive Species Hotline Header Logo"
                                width="500"
                                height="90"
                            >
                        </a>
                    
                        {% if user.is_authenticated %}
                            <div class="login-button" >
                                <button type="button"
                                        class="login-button"
                                        data-toggle="dropdown"
                                        aria-expanded="true"
                                        aria-haspopup="true">
                                    <span class="glyphicon glyphicon-user"></span>
                                    {{ user.get_short_name }}
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    {% if request.session.report_ids %}
                                        <li>
                                            <a class="strong" href="{% url 'users-home' %}">My Reports</a>
                                        </li>
                                    {% endif %}
                                    {% if user.is_staff %}
                                        <li>
                                            <a href="{% url 'admin-panel' %}">Admin Panel</a>
                                        </li>
                                    {% elif user.is_active %}
                                        <li>
                                            <a href="{% url 'species-list' %}">Species</a>
                                        </li>
                                    {% endif %}

                                    {% if user.is_active %}
                                        <li>
                                            <a class="strong" href="{% url 'users-home' %}">My Account</a>
                                        </li>
                                    {% endif %}
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{% url 'logout' %}">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                        {% else %}
                            <a href="{% url 'login' %}" class="login-button">Login</a>
                        {% endif %}
                    </div>
                {% endblock %}
            </header>

        <nav id="navbar">
            <ul>
                <li style="float: left; margin-right: 20px;">
                    <button id="toggle-sidebar" class="navbaranchor" style="background: none; border: none; margin-left: -20px;">
                        <img 
                            src="/static/img/list-light.png" 
                            alt="Toggle Sidebar" 
                            width="20"
                            height="20"
                        >
                    </button>
                </li>
                <li>
                    <a href="{% url 'home' %}" class="navbaranchor">Home</a>
                </li>
                <li>
                    <a href="{% url 'reports-list' %}" class="navbaranchor">Search Reports</a>
                </li>
                <li>
                    <a href="/pages/learn/" class="navbaranchor">Learn About Invaders</a>
                </li>
                <li>
                    <a href="{% url 'reports-create' %}" class="navbaranchor">Report Now</a>
                </li>
            </ul>
        </nav>
        <header id="navbar-two">
            
                <li style="display: block;float: left; margin-right: 20px;">
                    <button id="toggle-sidebar-two" class="navbaranchor" style="background: none; border: none; margin-left: -20px;">
                        <img 
                            src="/static/img/list-light.png" 
                            alt="Toggle Sidebar" 
                            width="20"
                            height="20"
                        >
                    </button>
                </li>
        </header>

        <!-- Side Menu Implementation - Layered Above Content, Positioned Below Navbar -->
        <div id="side-menu" class="side-menu-container" style="position: fixed; top: 0; left: 0; height: 100%; width: 250px; background-color: #ffffff; z-index: 1050; overflow-y: auto; box-shadow: 2px 0 5px rgba(0,0,0,0.1); display: none;">
            <div class="card border border-light side-menu">
                <div class="card-body">
                    <h5 class="card-title">Menu</h5>
                    <ul class="nav flex-column">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">
                                <img 
                                    src="/static/img/home.png"
                                    alt="Search Reports Icon" 
                                    class="sidebar-icon" 
                                    width="20"
                                    height="20"
                                > Home
                                <p class="small text-muted"> Website home landing page.</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users-home' %}">
                                <img 
                                    src="/static/img/profile.png"
                                    alt="Profile Icon" 
                                    class="sidebar-icon" 
                                    width="20"
                                    height="20"
                                > Profile
                                <p class="small text-muted">View your profile</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">
                            <img 
                                    src="/static/img/logout.png" 
                                    alt="Search Reports Icon" 
                                    class="sidebar-icon" 
                                    width="20"
                                    height="20"
                                > Logout
                                <p class="small text-muted"> Logout of profile</p>
                            </a>
                        </li>
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link" href="/reports/list">
                                <img 
                                    src="/static/img/search.png" 
                                    alt="Search Reports Icon" 
                                    class="sidebar-icon" 
                                    width="20"
                                    height="20"
                                    > Search Reports
                                <p class="small text-muted">View and search all reports.</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reports/list?order_by=-created_on&is_public=notpublic&is_archived=notarchived&claimed_by=nobody&tabs=unclaimed_reports">
                                <img 
                                    src="/static/img/unclaimed.png" 
                                    alt="Unclaimed Icon" 
                                    class="sidebar-icon" 
                                    width="20"
                                    height="20"
                                > Unclaimed
                                <p class="small text-muted">Manage unclaimed reports.</p>
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">
                                <img 
                                    src="/static/img/home.png"
                                    alt="Search Reports Icon" 
                                    class="sidebar-icon" 
                                    width="20"
                                    height="20"
                                > Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'reports-list' %}">
                                <img 
                                    src="/static/img/search.png" 
                                    alt="Search Reports Icon" 
                                    class="sidebar-icon" 
                                    width="20"
                                    height="20"
                                > Search Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/learn/">
                                <img 
                                    src="/static/img/school.png"
                                    alt="Learn About Invaders Icon" 
                                    class="sidebar-icon" 
                                    width="20"
                                    height="20"
                                > Learn About Invaders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'reports-create' %}">
                                <img 
                                    src="/static/img/unclaimed.png"
                                    alt="Report Now Icon" 
                                    class="sidebar-icon" 
                                    width="20"
                                    height="20"
                                > Report Now
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">
                                <img 
                                    src="/static/img/login.png"
                                    alt="Login Icon" 
                                    class="sidebar-icon" 
                                    width="20"
                                    height="20"
                                > Login
                            </a>
                        </li>
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link" href="http://pdx.edu">
                                <img 
                                    src="/static/img/school.png" 
                                    alt="Portland State University School Logo Banner"
                                    class="sidebar-icon"
                                    width="20"
                                    height="20"
                                > Portland State University
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.cascadepacific.org/western-invasives-network">
                                <img 
                                    src="/static/img/network.png" 
                                    alt="Western Invasives Network Logo Banner"
                                    class="sidebar-icon"
                                    width="20"
                                    height="20"
                                > Western Invasives Network
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.oregoninvasivespeciescouncil.org/">
                                <img 
                                    src="/static/img/council.png" 
                                    alt="Oregon Invasive Species Council Logo Banner"
                                    class="sidebar-icon"
                                    width="20"
                                    height="20"
                                > Oregon Invasive Species Council
                            </a>
                        </li>
                        <hr>
                        <!-- Add the phone number and "Report now!" text under the second separator -->
                        <li class="nav-item">
                            <span class="nav-link" style="cursor: default; pointer-events: none;">1-866-468-2337</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link" style="cursor: default; pointer-events: none;">Report now!</span>
                        </li>
                        {% endif %}
                        {% if user.is_manager or user.is_staff %}
                            <hr>
                            <li class="nav-item">
                                <a class="nav-link" href="/species/list">
                                    <img 
                                        src="/static/img/species.png" 
                                        alt="Species Icon" class="sidebar-icon" 
                                        width="20"
                                        height="20"
                                    > Species
                                    <p class="small text-muted">View and manage species information.</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/categories/list">
                                    <img 
                                        src="/static/img/category.png" 
                                        alt="Categories Icon" 
                                        class="sidebar-icon" 
                                        width="20"
                                        height="20"
                                    > Categories
                                    <p class="small text-muted">View and manage categories.</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/severities/list">
                                    <img 
                                        src="/static/img/severities.png" 
                                        alt="Severities Icon" 
                                        class="sidebar-icon" 
                                        width="20"
                                        height="20"
                                    > Severities
                                    <p class="small text-muted">View and manage severities.</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/static-pages/list">
                                    <img 
                                        src="/static/img/static-pages.png" 
                                        alt="Static Pages Icon" 
                                        class="sidebar-icon" 
                                        width="20"
                                        height="20"
                                    > Static Pages
                                    <p class="small text-muted">Manage static pages for content.</p>
                                </a>
                            </li>
                        {% endif %}
                        {% if user.is_staff %}
                            <hr>
                            <li class="nav-item">
                                <a class="nav-link" href="/users/list">
                                    <img 
                                        src="/static/img/users.png" 
                                        alt="Users Icon" class="sidebar-icon" 
                                        width="20"
                                        height="20"
                                    > Users
                                    <p class="small text-muted">Manage user accounts.</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/view-reports-page">
                                    <img 
                                        src="/static/img/reports.png" 
                                        alt="Reports Icon" 
                                        class="sidebar-icon" 
                                        width="20"
                                        height="20"
                                    > Reports
                                    <p class="small text-muted">Administer all submitted reports.</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/notifications/all">
                                    <img 
                                        src="/static/img/subs.png" 
                                        alt="Subscriptions Icon" 
                                        class="sidebar-icon" 
                                        width="20"
                                        height="20"
                                    > Subscriptions
                                    <p class="small text-muted">View and manage subscriptions.</p>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <button id="close-sidebar" style="background: none; border: none; position: absolute; top: 10px; right: 10px;">
                        <img src="/static/img/close.png" alt="Close Sidebar" style="width: 20px; height: 20px;">
                    </button>
                </div>
            </div>

            <!-- Overlay to Dim the Background When Side Menu is Open -->
            <div id="overlay" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1040; display: none;"></div>

            <main id="main" class="container-fluid uncollapsed-block" style="margin-left: 0;">
                {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </main>

            <footer class="container-fluid text-center text-muted px-0" id="footer">
                <div class="row" id="footer-sponsors">
                    <a href="http://pdx.edu">
                        <img 
                            src="{% static 'img/PSU-transparent.png' %}"
                            alt="Portland State University School Logo Banner"
                            height="45"
                        >
                    </a>
                    <a href="http://www.cascadepacific.org/western-invasives-network">
                        <img 
                            src="{% static 'img/WIN-transparent.png' %}"
                            alt="Western Invasives Network Logo Banner"
                            height="65"
                        >
                    </a>
                    <a href="http://www.oregoninvasivespeciescouncil.org/">
                        <img 
                            src="{% static 'img/OISC-transparent.png' %}"
                            alt="Oregon Invasive Species Council Logo Banner"
                            height="55"
                        >
                    </a>
                </div>
                <p>
                    &copy; {% now 'Y' %} Portland State University |
                    <a href="mailto:{{ CONTACT_EMAIL }}">Contact us</a>
                    for questions regarding site content
                </p>
            </footer>
            {% endblock %} {# end of block body #}
        </div>

        {% block js %}
          <script src="{% static 'js/sentry.browser.min.js' %}"></script>
          {# Initializes sentry client #}
          <script type="text/javascript">
            Sentry.init({
              dsn: "https://263913aeb1264f1bbc40c1b35dda9933@o50547.ingest.sentry.io/153798",
              release: "{{ RELEASE }}",
              environment: "{{ ENVIRONMENT }}",
              tracesSampleRate: 0.05,
              attachStacktrace: true
            });
            {# Links current user to the frontend context #}
            {% if request.user.is_authenticated %}
              Sentry.setUser({ email: "{{ request.user.email }}" });
            {% endif %}
          </script>
          {# Links backend trace_id to frontend context #}
          {% if TRACE_ID %}
            <meta name="sentry-trace" content="{{ TRACE_ID }}" />
          {% endif %}

          <script src="{% static 'js/jquery.min.js' %}"></script>
          {% if debug %}
            <script src="{% static 'js/jquery-migrate.min.js' %}"></script>
          {% endif %}
          <script src="{% static 'js/bootstrap.min.js' %}"></script>
          <script src="{% static 'js/js.cookie.min.js' %}"></script>
          <script src="{% static 'js/main.js' %}"></script>
          <script>
            // Toggle sidebar visibility
            $("#toggle-sidebar").click(function() {
                $("#side-menu").show();
                $("#overlay").show();
            });

            // Close sidebar button
            $("#close-sidebar").click(function() {
                $("#side-menu").hide();
                $("#overlay").hide();
            });

            // Close sidebar when clicking outside of it
            $("#overlay").click(function() {
                $("#side-menu").hide();
                $("#overlay").hide();
            });
          </script>
          <script>
            // Toggle sidebar visibility on small screen
            $("#toggle-sidebar-two").click(function() {
                $("#side-menu").show();
                $("#overlay").show();
            });

            // Close sidebar button on small screen
            $("#close-sidebar").click(function() {
                $("#side-menu").hide();
                $("#overlay").hide();
            });

            // Close sidebar when clicking outside of it on small screen
            $("#overlay").click(function() {
                $("#side-menu").hide();
                $("#overlay").hide();
            });
          </script>
        {% endblock %}

        {% google_analytics %}
    </body>
</html>