<!DOCTYPE html>

{% load arc %}
{% load permissions %}
{% load static %}

<html lang="en">
    <head>
        {% block head %}
            {% block meta %}
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">

            {% endblock %}

            <title>{% block title %}Oregon Invasives Hotline{% endblock %}</title>
            <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

            {% block css %}
                <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
                <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
                <!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->
                <link rel="stylesheet" href="/static/css/main.css">
            {% endblock %}
        {% endblock %}
    </head>
    <body id="body" class="{% block body_class %}{% endblock %}">
        {% block body %}
        <header id="header" class="container">
                    {% block header %}
                    <div class="row">
                        <div class="dropdown">
                            <a href="{% url 'home' %}">
                                <img 
                                    src="{% static 'img/header-logo-transparent.png' %}"
                                    alt="Oregon Invasive Species Hotline Header Logo"
                                    width="500"
                                    height="90"
                                >
                            </a>
                        
                            {% if user.is_authenticated %}
                                
                                <div class="login-button" >
                                    <button type="button"
                                            class="login-button"
                                            data-toggle="dropdown"
                                            aria-expanded="true"
                                            aria-haspopup="true">
                                        <span class="glyphicon glyphicon-user"></span>
                                        {{ user.get_short_name }}
                                        <!-- The little caret signifying drop down menu -->
                                        <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    {% if request.session.report_ids %}
                                        <li>
                                            <a class="strong" href="{% url 'users-home' %}">My Reports</a>
                                        </li>
                                    {% endif %}
                                    {% if user.is_staff %}
                                        <li>
                                            <a href="{% url 'admin-panel' %}">Admin Panel</a>
                                        </li>
                                    {% elif user.is_active %}
                                        <li>
                                            <a href="{% url 'species-list' %}">Species</a>
                                        </li>
                                    {% endif %}

                                    {% if user.is_active %}
                                        <li>
                                            <a class="strong" href="{% url 'users-home' %}">My Account</a>
                                        </li>
                                    {% endif %}
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{% url 'logout' %}">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                        {% else %}
                            <a href="{% url 'login' %}" class="login-button">Login</a>
                        {% endif %}
                    </div>
                    {% endblock %}
        </header>

        <nav id="navbar">
            <ul>
                <li>
                    <a href="{% url 'home' %}" class="navbaranchor">Home</a>
                </li>
                <li>
                    <a href="{% url 'reports-list' %}" class="navbaranchor">Search Reports</a>
                </li>
                <li>
                    <a href="/pages/learn/" class="navbaranchor">Learn About Invaders</a>
                </li>
                <li>
                    <a href="{% url 'reports-create' %}" class="navbaranchor">Report Now</a>
                </li>
            </ul>
        </nav>
        
        <main id="main" class="{% block main_class %}container{% endblock %}">
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </main>
        

        <footer class="container text-center text-muted" id="footer">
            <div class="row" id="footer-sponsors">
                <a href="http://pdx.edu">
                    <img 
                        src="{% static 'img/PSU-transparent.png' %}"
                        alt="Portland State University School Logo Banner"
                        height="45"
                    >
                </a>
                <a href="http://www.cascadepacific.org/western-invasives-network">
                    <img 
                        src="{% static 'img/WIN-transparent.png' %}"
                        alt="Western Invasives Network Logo Banner"
                        height="65"
                    >
                </a>
                <a href="http://www.oregoninvasivespeciescouncil.org/">
                    <img 
                        src="{% static 'img/OISC-transparent.png' %}"
                        alt="Oregon Invasive Species Council Logo Banner"
                        height="55"
                    >
                </a>
            </div>
            <p>
                &copy; {% now 'Y' %} Portland State University |
                <a href="mailto:{{ CONTACT_EMAIL }}">Contact us</a>
                for questions regarding site content
            </p>
        </footer>
        {% endblock %} {# end of block body #}

        {% block js %}
          <script src="{% static 'js/sentry.browser.min.js' %}"></script>
          {# Initializes sentry client #}
          <script type="text/javascript">
            Sentry.init({
              dsn: "https://263913aeb1264f1bbc40c1b35dda9933@o50547.ingest.sentry.io/153798",
              release: "{{ RELEASE }}",
              environment: "{{ ENVIRONMENT }}",
              tracesSampleRate: 0.05,
              attachStacktrace: true
            });
            {# Links current user to the frontend context #}
            {% if request.user.is_authenticated %}
              Sentry.setUser({ email: "{{ request.user.email }}" });
            {% endif %}
          </script>
          {# Links backend trace_id to frontend context #}
          {% if TRACE_ID %}
            <meta name="sentry-trace" content="{{ TRACE_ID }}" />
          {% endif %}

          <script src="{% static 'js/jquery.min.js' %}"></script>
          {% if debug %}
            <script src="{% static 'js/jquery-migrate.min.js' %}"></script>
          {% endif %}
          <script src="{% static 'js/bootstrap.min.js' %}"></script>
          <script src="{% static 'js/js.cookie.min.js' %}"></script>
          <script src="{% static 'js/main.js' %}"></script>
        {% endblock %}

        {% google_analytics %}
    </body>
</html>
