{% extends 'base.html' %}

{% load static %}
{% load pages %}

{% block main_class %}container-fluid{% endblock %}
{% block body_class %}white{% endblock %}

{% block content %}
<style>
    .midline-heading {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 2.0em; /* Equivalent to 32px */
    line-height: 1.2;
    color: #508228;
    margin-bottom: 30px;
}  
    .midiline-text {
        font-family: 'Arial', sans-serif;
        font-size: 1.9em; 
        color: #777; 
        padding: 10px;
        
    }
    .heading-map {
        font-family: 'Arial', sans-serif; 
        font-size: 2.0em; 
        line-height: 1.1; 
        color: #dcdcdc; 
        margin-bottom: -5px; 
        text-align: center; 
    }
    .map {/* */
        font-family: 'Arial', sans-serif; 
        font-size: 1.3em; 
        line-height: 1.3; 
        color: #423e3e; 
        margin-bottom: 15px; 
        font-weight: bold;
        text-align: center; 
    }
    .map-text {/* */
        font-family: 'Arial', sans-serif;
        font-size: 1.1em; 
        color: #000000; 
        padding: 10px;
        
    }
    .footer-text {
        font-weight: bold;
        font-family: 'Arial', sans-serif;
        font-size: 1.5em; 
        color: #505050; 
        text-align: center;
        
    }
    .main-text a.green-link {
        font-weight: bold; 
        font-size: 1.4em; 
        color: #4b8a28; 
        text-decoration: none; 
         
    }

    .main-text a.green-link:hover {
        text-decoration: underline; 
    }

    .sub-text {
        font-family: 'Arial', sans-serif;
        font-size: 1.1em; 
        color: #777; 
        
    }
    .midline-block { 
        background-color: #f9f9f9; 
        padding: 15px; 
        margin: 10px 0; 
        border-radius: 5px; 
        width: 33%;
        box-sizing: border-box; 
    }

    .midline-block.longest {
        background-color: #f9f9f9;
        
    } 

    .btn-home {/* */
    background-color: #34912b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    
    }
    .btn-home:hover {/* */
    background-color: #34912bad;
}

.modern-section {/* */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #f7f7f7; 
    border: 2px solid #e2e8f0; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin: 20px;
    margin-top: 100px;
    
}

.modern-content {/* */
    text-align: center;
    width: 100%; 
}

.centered-content {
    max-width: 600px; 
    margin: 0 auto; 
}


</style>



    <div class="row" id="headline">
        <div class="col-md-4" id="headline-info">
            <!-- this horrible inline css is brought to you by http://howtocenterincss.com/ -->
            <div style="display: table; height: 500px; margin-top: -30px;">
                <div style="display: table-cell; vertical-align: middle;">
                    <div style="margin-left: auto; margin-right: auto;">
                        {% getcontent 'headline' %}
                        <div class="modern-section">
                            <div class="modern-content">
                                <p class="map">Need To Make a Report?</p>
                                <div id="headline-buttons">
                                    <a class="btn-home" href="{% url 'reports-create' %}">Report Now</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                        <a id="headline-buttons-info" class="btn btn-primary" style="display: block; margin: 0 auto;" href="#">
                            About the Hotline <span class="arrow">&#8595;</span> </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 hidden-sm hidden-xs" id="headline-map">
                <div id="map-canvas" style="cursor: pointer; height: 500px;"></div>
            </div>
        </div>
        


  

    <div id="midline">
        {% getcontent 'midline' %}
        <div class="modern-section" style="height: 100px; margin-top: 20px;">
            <p class="main-text"><strong><u>*Note that while your contact information remains confidential, public access is granted to <bold>ONLY</bold> report details and photos under CC-BY Licensing.</strong> </u> </p>
        </div>
        <div class="midline-block">
            {% getcontent 'midline-block1' %}
        </div><div class="midline-block longest">
            {% getcontent 'midline-block2' %}
        </div><div class="midline-block">
            {% getcontent 'midline-block3' %}
        </div>
    </div>

    {% getcontent 'midline-footer' %}
{% endblock %}

{% block js %}
    {{ block.super }}

    <script src="//maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap"
            async></script>
    <script>
        var reports = {{ reports|jsonify }};
        function initMap() {
            var options = getDefaultMapOptions();
            // this is a style I picked off of https://snazzymaps.com/ and customized
            // so waterbodies are green, and fit in with the headline background color
            options.styles = [ { "featureType": "administrative", "elementType": "labels.text.fill", "stylers": [ { "color": "#444444" } ] }, { "featureType": "landscape", "elementType": "all", "stylers": [ { "color": "#f2f2f2" } ] }, { "featureType": "poi", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road", "elementType": "all", "stylers": [ { "saturation": -100 }, { "lightness": 45 } ] }, { "featureType": "road.highway", "elementType": "all", "stylers": [ { "visibility": "simplified" } ] }, { "featureType": "road.arterial", "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] }, { "featureType": "transit", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "water", "elementType": "all", "stylers": [ { "color": "#557716" }, { "visibility": "on" } ] } ]
            // this map is for decoration, so it shouldn't be zoomable, pannable, etc
            options.disableDefaultUI = true;
            options.disableDoubleClickZoom = true;
            options.draggable = false;
            options.scrollwheel = false;
            var map = new google.maps.Map(document.getElementById('map-canvas'), options);

            // we need to save all the "info windows" we create, so we can close them
            // all when a balloon is clicked (so only one window opens at a time)
            var windows = []

            // for each report, draw the marker on the map where the report was located
            for(var i = 0; i < reports.length; i++){
                var report = reports[i];
                var marker = new google.maps.Marker({
                    position: {
                        lat: report.lat,
                        lng: report.lng
                    },
                    map: null,
                    title: report.title,
                    icon: generateIcon(report.icon_url),
                });

                // randomly drop the pins on the map within a few seconds
                with({marker: marker}){
                    setTimeout(function(){
                        marker.setAnimation(google.maps.Animation.DROP);
                        marker.setMap(map);
                    },  Math.min(1.5, i)*1000*Math.random())
                }
            }

            // when the page resizes we need to center the map back at the right place.
            // We have to do this *after* the resize event finishes, which, unfortunately,
            // requires this hacky timeout code
            var timer = 0 ;
            $(window).on('resize', function(){
                clearTimeout(timer);
                timer = setTimeout(function(){
                    map.panTo(options.center);
                }, 10);
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#map-canvas').click(function(){ window.location='{% url 'reports-list' %}'});

            /* When the "About the Hotline" button is click, animate a scroll to a certain
               position on the page. In some cases, we need to pad the bottom of the page,
               so we can scroll all the way down.
            */
            $('#headline-buttons-info').click(function(e){
                e.preventDefault();
                var go_to = $('#midline').offset().top
                var viewport_height = $(window).height();
                var body_height = $('body').height()
                var to_pad = Math.max(0, viewport_height - (body_height - go_to))
                $('body').css('border-bottom', to_pad + "px solid #577716" )
                $('html, body').animate({
                    scrollTop: go_to
                });
            });
        });
    </script>
{% endblock %}
