{% extends "base.html" %}
{% block content %}
<div class="container mt-5 d-flex flex-column align-items-center" style="background-color: #ffffff; max-width: 1000px; margin: 0 auto;">
    <!-- Profile Card -->
    <div class="card border border-light mb-3 w-100" style="max-width: 700px;">
        <div class="card-body text-center">
            <a href="/users/avatar/{{ user.pk }}"><img src="{{ user.get_avatar_url|default:'/static/img/avatar_placeholder.png' }}" alt="Profile Picture" class="img-fluid rounded-circle mb-3" width="150"></a>
            <h3 class="card-title">Hello, {{ user.username|default:"Guest" }}</h3>
            <p class="card-text">{{ user.biography|default:"You haven't entered a biography or any affiliations yet." }}</p>
            <a href="{% url 'users-edit' user.pk %}" class="btn btn-outline-primary">Edit Profile</a>
        </div>
    </div>

    <div class="row w-100 justify-content-around">
        <!-- Name Card -->
        <div class="col-md-4 mb-3 d-flex justify-content-center">
            <div class="card border border-light" style="width: 320px;">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p>First: {{ user.first_name|default:"First" }}</p>
                    <p>Last: {{ user.last_name|default:"Last" }}</p>
                    <button class="btn btn-outline-secondary">Edit Name</button>
                </div>
            </div>
        </div>
        <!-- Email and Password Card -->
        <div class="col-md-4 mb-3 d-flex justify-content-center">
            <div class="card border border-light" style="width: 320px;">
                <div class="card-body">
                    <h5 class="card-title">Email & Password</h5>
                    <p>Email: {{ user.email }}</p>
                    <p>Password: ********</p>
                    <a href="/users/edit/5210" class="btn btn-sm btn-outline-secondary mb-2">Edit Email</a>
                    <a href="/password_change/" class="btn btn-sm btn-outline-secondary">Edit Password</a>
                </div>
            </div>
        </div>
        <!-- Manager/Admin Card -->
        <div class="col-md-4 mb-3 d-flex justify-content-center">
            <div class="card border border-light" style="width: 320px;">
                <div class="card-body text-center">
                    <h5 class="card-title">User Role</h5>
                    <p>Manager: <img src="{% if user.is_active %}/static/img/check-box.png{% else %}/static/img/empty-box.png{% endif %}" alt="Manager Status" style="width: 20px; height: 20px;"></p>
                    <p>Admin: <img src="{% if user.is_staff %}/static/img/check-box.png{% else %}/static/img/empty-box.png{% endif %}" alt="Admin Status" style="width: 20px; height: 20px;"></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
