{% extends 'base.html' %}

{% block content %}
<!--
    {% include '_admin_panel_nav.html' with nav_home=True nav_active='users' %}<hr>
--->
    <link rel="stylesheet" href="../../static/css/list.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <h2 class="clearfix">
        User List
        <a href="{% url 'users-create' %}" class="list-btn-create">Create User</a>
    </h2>

    <form class="search-form">
        {{ form|bootstrap }}
        <div class="form-actions">
            <input type="submit" value="Search" class="btn-srch"/>
            <a href="{% url 'users-list' %}" class="btn-edt">Reset</a>
        </div>
    </form>

    {% if users %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th class="text-center">Manager?</th>
                    <th class="text-right">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{% url 'users-edit' user.pk %}">{{ user.full_name }}</a></td>
                        <td>{{ user.email }}</td>
                        <td class="text-center">
                            {% if user.is_active %}
                                <span class="glyphicon glyphicon-ok"></span>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'users-edit' user.pk %}"
                               title="Edit this user's info"><span class="fa fa-edit"></span></a>
                            &nbsp;
                            <a href="{% url 'users-delete' user.pk %}" title="Delete this user"
                               class="text-danger"><span class="fa fa-trash"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include '_pagination.html' with items=users %}
    {% else %}
        <div class="alert alert-warning">No users matching those search criteria were found.</div>
    {% endif %}
</div>
{% endblock %}
